input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.list-choice {
    width: 300px;
    margin: 1em auto;
    position: relative;
    cursor: pointer;
}

.list-choice input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.list-choice-title {
    width: 100%;
    display: block;
    background: #dc3545;
    text-align: center;
    padding: 0.55em 1em;
    box-sizing: border-box;
    color: #FFF;
    text-shadow: 0 1px 0 #CACACA;
    border-radius: 0.2em;
}

.list-choice:hover .list-choice-title {
    border-radius: 0.2em 0.2em 0 0;
}

.list-choice-objects label:nth-last-of-type(1) span {
    border-radius: 0 0 0.2em 0.2em;
}

.list-choice input[type="radio"]+span {
    color: #FFF;
    background: #dc3545;
    padding: 0.55em 1em;
    display: block;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
}

.list-choice-objects {
    position: absolute;
    top: 0;
    padding-top: 2.1em;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all 250ms ease;
}

.list-choice:hover .list-choice-objects input[type="radio"]+span {
    position: relative;
    top: 0;
    transition: all 250ms ease-in-out;
}

.list-choice:hover input[type="radio"]+span:hover {
    background: #0b5ed7;
}

.list-choice:hover input[type="radio"]:checked+span:hover {
    background: #74D68E;
}

.list-choice input[type="radio"]:checked+span {
    background: #dc3545;
    position: absolute;
    top: 0em;
    border-radius: 0.2em;
}

.list-choice:hover input[type="radio"]:checked+span {
    border-radius: 0;
}

.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked+span {
    border-radius: 0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
    max-height: 540px;
}

.list-choice-objects>label {
    display: block;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    padding: 40px 15px;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    /* background-color: #fff0d2;
    background: linear-gradient(160deg, #fff0d2, #e4feff);
    background-position: 0 0;
    background-repeat: no-repeat; */
}

h1 {
    align-items: flex-end;
    color: #000;
    display: flex;
    font-size: 52px;
    font-weight: 700;
    justify-content: center;
    line-height: 70px;
    margin: 0 auto 15px;
    text-align: center;
    width: 100%;
}

div.centrado {
    display: flex;
    justify-content: center;
}

table{
    border-radius: 100%;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding:  2%;
    margin-bottom: 25px;
}
tr,td,th{
    padding: 1.5%;
    
}

td {
    background-color: white;
    color: #000;
}