body{
    /* background-image: url(https://media.istockphoto.com/vectors/fitness-seamless-pattern-black-and-white-vector-id1201068471?b=1&k=6&m=1201068471&s=170667a&w=0&h=D8_YZTJS-JChqfWp-R-nWU6x-E1w1Tt4X0P4fANsJXc=); */
    /* background-color: gold; */
}
div.titulo{
    padding-top: 5%;
    margin-top: 5px;
    text-align: center;
}
div.grupo{
    padding-top: 3%;
}
h1{
    /* font-size-adjust: initial;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5%;
    padding-top: 5%; */

    border:black solid 5px; 
    border-radius:22px; 
    box-shadow: 6px 20px 10px black; 
    background-color: #0b5ed7; 
    color:white;
    text-align: center;
    
}
tr,td,th{
    padding: 1.5%;
}

div.grupo{
    display: flex;
    text-align: center;
  
}

a.reset-color-enlace{
    color: white;
    text-decoration: none;
}
a.reset-color-enlace:hover{
    color: white;
}

div.carta{
    width: 32%;
    margin:0px auto;

}

img.carta{
    height: 40%;
}

a.espacio{
    margin-bottom: 5%;
}


